/**
  * important: This is a core styles and it should never change.
  */
$primary-color: #31386b;
$primary-color-hover: #3f4c9c;
$primary-color-active: #3f4c9c;

$secondary-color: #fdb619;
$secondary-color-hover: #f9c74f;
$secondary-color-active: #f9c74f;

$white: #ffffff;
$light-gray: #e3e2dc;
$black: #000000;
